* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: rgb(220,237,227);
}

h1 {
    border: 1px solid red;
    background-color: rgb(240,236,226);
    color: rgb(99,77,61);
    padding: 20px 40px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


p {
   float: left;
}
